<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="manifest" href="/site.webmanifest">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap-custom.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% comment %} <link rel="stylesheet" href="{{ "/assets/css/components.css" | relative_url }}"> {% endcomment %}
    <script src="https://kit.fontawesome.com/431529382e.js" crossorigin="anonymous" async></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>